<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cau2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3678859D1F0CC6BC00246806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367885B11F0CC6BD00246806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367885BC1F0CC6BD00246806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
